mixin nav(className, items)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${item.link}`)= item.text

mixin social(className, socials)
    .social
        ul(class=`${className}__list`)
            each social in socials
                li(class=`${className}__item`)
                    a(class=`${className}__link.${className}__link_${social.text}` href=`${social.link}` target="_blank")
                        svg(class=`${className}__img`)
                            use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#${social.text}`)


mixin feedback(className, feedbacks)
    ul(class=`${className}__list`)
        each feedback in feedbacks
            li(class=`${className}__item`)
                div(class=`${className}__item-photo` style=`${feedback.photo}`) 
                    img.visuallyHidden(class=`${className}__item-photo-img` src=`${feedback.src}`, alt=`${feedback.name}`)
                p(class=`${className}__item-description`)= feedback.description
                div(class=`${className}__item-name`)= feedback.name
                div(class=`${className}__item-position`)= feedback.position

mixin slide-info(className, sliders)
    ul(class=`${className}__list`)
        each slider in sliders
            li(class=`${className}__item`)
                div.title_small(class=`${className}__site-name`)= slider.name
                div(class=`${className}__site-technologies`)= slider.technologies
                a(class=`${className}__site-button` href=`${slider.link}`)
                    svg(class=`${className}__site-button-img`)
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#link`)
                    div(class=`${className}__site-button-text`) Перейти на сайт
                    

mixin blog-main-title(className, titles)
    ul(class=`${className}`)
        each title in titles
            li(class=`${className}__item`)
                a(class=`${className}__name`)= title.name

mixin blog-articles(className, articles)
    ul(class=`${className}`)
        each article in articles
            li(class=`${className}__item`)
                article.article
                    div(class=`${className}__name`)= article.name
                    div(class=`${className}__date`)= article.date
                    p(class=`${className}__text`)= article.text
                    img(class=`${className}__picture-img` src=`${article.img}`)   